@model IEnumerable<BusinessObjects.WorkManagement.EngineerNonAvailability>

@{
    ViewBag.Title = "NonAvailability";
}

<h2>User - Non Availability</h2>

<p>
    @Html.ActionLink("Create New", "CreateNonAvailability", new { id=ViewBag.UserID })
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteNonAvailability", new { userID = ViewBag.UserID, nonAvailabilityID = item.ID})
        </td>
    </tr>
}

</table>
